body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
    background-image: url("https://66.media.tumblr.com/46a6ca9444b1972e3f291b3abb91146a/tumblr_n64jx9w5SE1tszfipo1_500.gif");
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
